@import 'styles/variaveis';
@import 'styles/breakpoints';

.voltar {
  background-color: transparent;
  border: none;
  color: $red;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 980px) {
		width: 90%;
		margin: 0 auto;
	}
}
.titulo {
  font-size: 3rem;
  @media (max-width: 980px) {
		font-size: 2rem;
    text-align: center;
	}
}
.imagem {
  width: 600px;
  img {
    border-radius: 8px;
    width: 100%;
  }
  @media (max-width: 980px) {
		width: 90%;
		margin: 0 auto;
	}
}
.conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__descricao {
    color: $darkest-grey;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &____detalhes {
    display: flex;
    justify-content: space-between;
  }
}
